@import url(./breakpoint-agricultura.css);
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Fauna+One&family=Inter:wght@500&family=Source+Sans+Pro:ital,wght@1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    display: flex;
    align-items: center;
}

.voltar{
    display: flex;
    text-align: left;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
}

.logo img{
    width: 11vw;
}

.voltar h2{
    font-family: 'inter';
    color: #614501;
}

.voltar a{
    text-decoration: none;
}

.inicio .image1{
    width: 100vw;
}

.title{
    display: flex;
    position: absolute;
    font-size: 10vw;
    margin-top: 35vw;
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #614501;
    font-weight: 400;
    font-family: 'Fauna One';
}

.quest{
    position: absolute;
    margin-top: 90vw;
    margin-left: 50vw;
    font-size: 4vw;
    color: white;
    font-family: 'inter';
    font-weight: bold;
}

.txt{
    position: absolute;
    margin-top: 100vw;
    margin-left: 50vw;
    margin-right: 10vw;
    font-size: 2.5vw;
    color: white;
    font-family: 'inter';
    font-weight: bold;
}

/* Agricultura Organica */

.agriOrganica{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5vw;
}

.txt-organica{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.txt-organica h1{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 4vw;
}

.txt-organica p{
    font-family: 'Source Sans Pro';
    font-size: 2.8vw;
}

.imagemOrganica> img{
    float: right;
    width: 40vw;
}

/* Agricultura de Conservação */

.agriConservacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5vw;
}

.imagemConservacao>img{
    float: left;
    height: 40vw;
}

.txt-conservacao{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    font-family: 'Source Sans Pro';
}

.agriConservacao h1{
    font-weight: 700;
    font-size: 4vw;
}

.txt-conservacao> p{
    font-size: 2.8vw;
}

/* Agricultura Urbana */


.agriUrbana{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5vw;
}

.txt-Urbana{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.txt-Urbana h1{
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 4vw;
}

.txt-Urbana p{
    font-family: 'Source Sans Pro';
    font-size: 2.8vw;
}

.imagemUrbana> img{
    float: right;
    width: 40vw;
}

.explicacao{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70vw;
    margin-top: 5vw;
    margin-left: 15.3vw;
}

.explicacao h1{
    font-family: 'Source Sans Pro';
    font-size: 5vw;
}

.explicacao p{
    font-family: 'inter';
    font-size: 2vw;
    margin-top: 3vw;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5vw;
    
    background-color: #A88D6F;
    height: 15vw;
    font-size: 2vw;
    font-family: 'inter';
    color: white;
}
