@media(max-width:1100px){
    .doacao-home2 p{
        font-size: 1.6rem;
    }

    .doacao-home2 button{
        font-size: 1.7rem;
    }

    .texto-horta-home2 h2{   
        font-size: 2rem;
    }
    
    .texto-horta-home2 p{
        font-size: 1.7rem;
    }

    .descricao-microsoft-home2 h3{
        font-size: 2rem;
    }
    
    .descricao-microsoft-home2 p{
         font-size: 1.5rem;  
         font-family: 'Inter', sans-serif;
         margin-bottom: 4%;
    }

    .descricao-fiap-home2 h3{
        font-size: 2rem;
    }
    
    .descricao-fiap-home2 p{
        font-size: 1.5rem;  
    }

    .descricao-heinz-home2 h3{
        font-size: 2rem;
    }
    
    .descricao-heinz-home2 p{
        font-size: 1.5rem;  
    }
}