@media screen and (max-width: 600px) {

    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 3vw;
    }

    .fileira-1 {
        display: flex;
        flex-direction: column;
    }
    .fileira-2 {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .fileira-3 {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

}

@media screen and (max-width: 480px) {
    .fileira-1 {
        display: flex;
        flex-direction:  column-reverse;
    }

    .fileira-2 {
        display: flex;
        flex-direction:  column-reverse;
    }

    .fileira-3 {
        display: flex;
        flex-direction:  column-reverse;
    }
    
}