* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #90BF95;
}

.conteudo {
    position: absolute;
    margin: 0 auto;
    width: 100vw; /* Updated */
    height: 75vh; /* Updated */
    background: #fff;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.53);
}

section {
    padding-left: 7.04vw; /* Updated */
    padding-top: 28.16vh; /* Updated */
}

section > p {
    width: 24.96vw; /* Updated */
    height: 8.88vh; /* Updated */
    left: 14.64vw; /* Updated */
    top: 38vh; /* Updated */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 2.4vw; /* Updated */
    line-height: 3.7vh; /* Updated */
    color: #6B806D;
}

section > h1 {
    width: 16.64vw; /* Updated */
    height: 7.84vh; /* Updated */
    left: 14.64vw; /* Updated */
    top: 27.92vh; /* Updated */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 3.2vw; /* Updated */
    line-height: 3.9vh; /* Updated */
    text-transform: uppercase;
    color: #000000;
}

.imagens {
    position: absolute;
    background-color: #fff;
    width: 40vw; /* Updated */
    height: 43.52vh; /* Updated */
}

.img-1 {
    position: absolute;
    width: 22.56vw; /* Updated */
    height: 20.56vh; /* Updated */
    border: 1px solid #000000;
    margin-top: 24.88vh; /* Updated */
    margin-bottom: 36.48vh; /* Updated */
    margin-left: 43.6vw; /* Updated */
    margin-right: 49.04vw; /* Updated */
}

.img-2 {
    position: absolute;
    width: 22.56vw; /* Updated */
    height: 20.56vh; /* Updated */
    border: 1px solid #000000;
    margin-top: -0.8vh; /* Updated */
    margin-bottom: 36.48vh; /* Updated */
    margin-left: 43.6vw; /* Updated */
    margin-right: 49.04vw; /* Updated */
}

.img-3 > img {
    position: absolute;
    width: 22.56vw; /* Updated */
    height: 20.56vh; /* Updated */
    border: 1px solid #000000;
    margin-top: -0.8vh; /* Updated */
    margin-bottom: 36.48vh; /* Updated */
    margin-left: 12vw; /* Updated */
    margin-right: 16vw; /* Updated */
}

.img-4 > img {
    position: absolute;
    width: 22.56vw; /* Updated */
    height: 20.56vh; /* Updated */
    border: 1px solid #000000;
    margin-top: 24.92vh; /* Updated */
    margin-bottom: 36.48vh; /* Updated */
    margin-left: 12vw; /* Updated */
    margin-right: 16vw; /* Updated */
}

header > img {
    position: absolute;
    width: 6vw; /* Updated */
    height: 6vw; /* Updated */
    margin-top: 4vw; /* Updated */
    margin-left: 4vw; /* Updated */
}

