
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudos {
    width: 1234px;
    height: 1812px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    margin-top: 100px;
    margin-left: 320px;
    margin-right: 180px;
}

.container-1 {
    display: flex;
    flex-direction: row;
}

.container-2 {
    display: flex;
    flex-direction: row;
    margin-top: -2200px;
}

.container-3 {
    display: flex;
    flex-direction: row;
    margin-top: -2200px;
    margin-bottom: 0;
    height: 1000px;
}

.office {
    box-sizing: border-box;
    margin-left: -50px;
    margin-top: 338px;
    margin-bottom: 1973px;
    margin-right: 977px;
    width: 250px;
    height: 446px;
}

.img-1 {
    box-sizing: border-box;
    width: 350px;
    height: 216px;
    left: 113px;
    top: 338px;
    border: 3px solid #000000;
}

.fiap {
    box-sizing: border-box;
    margin-left: -840px;
    margin-top: 338px;
    margin-bottom: 1973px;
    margin-right: 535px;
    left: 555px;
    top: 338px;
    width: 250px;
    height: 446px;
   

}

.img-2 {
    box-sizing: border-box;
    width: 350px;
    height: 216px;
    left: 555px;
    top: 338px;

}

.heinz {
    box-sizing: border-box;
    margin-left: -400px;
    margin-top: 338px;
    margin-bottom: 1973px;
    margin-right: 93px;
    left: 997px;
    top: 338px;
    width: 350px;
    height: 546px;
    
}

.img-3 {
    box-sizing: border-box;
    width: 350px;
    height: 216px;
    left: 997px;
    top: 338px;

    border: 3px solid #000000;
}

.empresa-1 {
    background: #0A4B11;
    border-radius: 30px;
    width: 219px;
    height: 44px;
    left: 128px;
    top: 593px;
    margin-top: 39px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;

}

.empresa-2 {
    background: #0A4B11;
    border-radius: 30px;
    width: 82px;
    height: 44px;
    left: 571px;
    top: 593px;
    margin-top: 39px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
}

.empresa-3 {
    background: #0A4B11;
    border-radius: 30px;
    width: 110px;
    height: 39px;
    left: 1012px;
    top: 593px;
    margin-top: 39px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

.conteudo-1 {
    margin-top: 21px;
    width: 350px;
    height: 140px;
    left: 113px;
    top: 668px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 35px;
    text-transform: uppercase;

    color: #000000;
}

.conteudo-2 {
    margin-top: 21px;
    width: 350px;
    height: 140px;
    left: 113px;
    top: 668px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 35px;
    text-transform: uppercase;
    color: #000000;
}

.conteudo-3 {
    margin-top: 21px;
    width: 350px;
    height: 140px;
    left: 113px;
    top: 668px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 35px;
    text-transform: uppercase;

    color: #000000;
}



.coin {
    display: flex;
    flex-direction: row;
    width: 48px;
    height: 44px;
    left: 163px;
    top: 840px;
    margin-top: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.moeda {
    width: 50px;
    height: 50px;
    left: 113px;
    top: 836px;
}