@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100;0,300;1,400&family=Inter:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inter:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}



.img {
    display: flex;
    width: 10.4167vw;
    margin: 1.3889vh auto 1.3889vh auto;
}

.img1 {
    background-image: url(../imagens/IAgenerativaimagem.jpg);
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 250vh;
}

.txtintro {
    position: absolute;
    top: 180vh;
    left: 65vw;
    right: 3vw;
    color: white;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.img2 {
    width: 100vw;
}

.texto2 {
    font-family: 'montserrat';
    position: absolute;
    margin: 6vh 17.5vw 0 17.4vw;
    text-align: center;
    font-size: 20px;
    color: white;
}

.texto3 {
    font-family: 'montserrat';
    position: absolute;
    margin: 75vh 17.3vw 0 17.3vw;
    text-align: center;
    font-size: 20px;
    color: white;
}

.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 4vh auto;
    color: #01287A;
    font-size: 20px;
}

.imagem {
    width: 43.1944vw;
    float: left;
}

.filmestxt .txt {
    margin: 23.6111vh 0 0 54.8611vw;
    color: #01287A;
    font-size: 36px;
}

.filmestxt .txt2 {
    display: flex;
    margin: 8.3333vh 9.2014vw 0px 50.4167vw;
    color: #3C6AA7;
    font-size: 32px;
    text-align: center;
}

.imagemsaude {
    margin-top: 5vh;
    width: 100vw;
}

.saudetxt .txt {
    display: flex;
    margin-top: 1.3889vh;
    text-align: center;
    justify-content: center;
    color: #01287A;
    font-size: 2.5vw;
}

.saudetxt .txt2 {
    display: flex;
    color: #3C6AA7;
    margin: 1.3889vh 3.125vw 0 3.125vw;
    text-align: center;
    justify-content: center;
    font-size: 36px;
}

.ultimaimagem {
    margin-top: 14.5833vh;
    width: 100vw;
}

.txtfinal .txt {
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 33.8542vh 3.5417vw 0;
    color: white;
    text-transform: uppercase;
}

.rodape {
        background: linear-gradient(0deg, rgba(1,40,122,1) 0%, rgba(100,148,197,1) 51%, rgba(255,255,255,1) 100%);
        height: 258px;
}