@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Inter:wght@700&display=swap');
@import url(./break-point-produtos.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color: #0A4B11;
}

.img-cabecalho img{
    width: 15vw;
}

.img-cabecalho{
    width: 100vw;
    display: flex;
    justify-content: center;
}


.botao a{
    color: white;
    text-decoration: none;
    font-size: 2.5vw;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vw;
}

.fileira-1{
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
}

.fileira-2{
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
    margin-top: 4vw;
}

.fileira-3{
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
    margin-top: 4vw;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vw;
}

.img{
    width: 25vw;
    height: 15vw;
}

.box>h1{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #0A4B11;
    border-radius: 3vw;
    width: 18vw;
    height: 4.5vw;
    font-size: 2.5vw;
    color: #FFFFFF;
}

.box>p{
    width: 24.31vw;
    height: 9.72vw;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.35vw;
    line-height: 2.43vw;
    text-transform: uppercase;
    color: #000000;
}

.moeda{
    display: flex;
    width: 4vw;
}

.box>h3 {
    font-size: 2vw;
    text-transform: uppercase;
}

.rodape{
    background-image:linear-gradient(to bottom, #0A4B11, #ADFAB6);
    width: 100vw;
    height: 20vw;
    margin-top: 5vw;
    font-size: 1.5vw;
    color: #FFFFFF;
    
}